{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
{% endblock%}
{% block title %}{{ post.title }}{% endblock%}
{% block content %}

<div class="form-signin m-auto mt-5">
    {% if form.errors  %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Неверный логин или пароль...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <h2 class="display-5 mb-3">Вход</h2>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="form-floating">
        <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Логин">
        <label for="id_username">Логин</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password" placeholder="Пароль">
        <label for="id_password">Пароль</label>
      </div>
      <button class="btn btn-secondary btn-lg w-100 py-2" type="submit">Вход</button>
    </form>
</div>

{% endblock%}
{% block js %}{% endblock%}