{% extends 'blog/base_blog.html' %}
{% block css %}{% endblock%}
{% block title %}Tag create{% endblock%}
{% block content %}
{% include 'blog/includes/back_btn.html' %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-5 fw-normal text-body-emphasis">Новый тэг</h2>
</div>
<div class="col-lg-6 mx-auto mb-4">
    <form action="{% url 'tag_create_url' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ field.errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="form-floating mb-3">
            {{ field }}
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

{% endblock%}
{% block js %}{% endblock%}