{% extends 'blog/base_blog.html' %}
{% block css %}{% endblock%}
{% block title %}dj blog{% endblock%}
{% block content %}
{% for tag in tags %}
<article class="mb-4">
    <h2 class="display-5 mb-1"><a class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0" href="">{{ tag.title }}</a></h2>
    <p class="mb-2"><em>{{ tag.date_create }} <a href="#">{{ tag.user }}</a></em></p>
    <p>{{ tag.slug }}</p>
    <a class="icon-link icon-link-hover" href="{{ tag.get_absolute_url }}">
        Все посты с данным тегом
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
</article>
{% endfor %}
{% endblock%}
{% block js %}{% endblock%}