<article class="mb-4">
    <h2 class="display-5 mb-1"><a class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0" href="">{{ post.title }}</a></h2>
    <p class="mb-2"><em>{{ post.date_pub|date:"d F Y, l, H:m" }} <a href="{% url "post_user_url" post.user %}">{{ post.user }}</a></em></p>
    <p>{{ post.body|truncatewords:50 }}</p>
    <p>
        {% for tag in post.tags.all %}
            <span class="badge text-bg-secondary">
                <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
            </span>
        {% endfor %}
    </p>
    <a class="icon-link icon-link-hover" href="{{ post.get_absolute_url }}">
        Читать
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
</article>